

.forgot_container {
    -fx-background-color: gray;
}
.forgot_container Label {
    -fx-font-size: 1.6em;
    -fx-font-weight: bold;
}
.forgot_container_main {
    -fx-background-color: lightgray;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(three-pass-box, darkgrey, 5, 0, 0, 7);
    -fx-spacing: 10;
    -fx-padding: 10;
}
.forgot_container_main .button {
    -fx-spacing: 10;
    -fx-pref-width: 100;
}
.forms {
    -fx-spacing: 10;
    -fx-padding: 10;
}
.forms Label {
    -fx-font-size: 1.4em;
    -fx-font-weight: bold;
}
.forms TextField {
    -fx-pref-width: 400;
    -fx-pref-height: 10;
    -fx-border-color: gold;
    -fx-border-style: dashed;
    -fx-border-width: 2;
}
.forms Button {
    -fx-background-color: gold;
}
.error_lbl {
    -fx-text-fill: red;
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
}
.usr_pwd_lbl {
    -fx-text-fill: green;
    -fx-font-size: 1.1em;
    -fx-alignment: center;
}
